/* Song. Main styles. 
 * 12/2/2017
 * ============================================
 * 01. Fonts
 * 02. Base styles
 * 03. Section styles & List
 * 04. Header & Backgrounds
 * 05. Paddings & Shapes
 * 06. 'About me' format
 * 07. 'My purpose' format
 * 08. 'Contact me' format
 * ============================================
 */

/* 01. Fonts */
@import url("fonts.css");

.riffic   {
	font-family: "riffic-bold", sans-serif;

}

.acme   {
	font-family: "acme-regular", sans-serif;
}

.nexa   {
	font-family: "nexa-black", sans-serif;
}

/* 02. Base styles */
html {
	font-size: 10px;
}

html, body {
	height: 100%;
}

/* 03. Section styles & List */

.main-title-1   {
	font-size: 3rem;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFA500;
	text-align: center;
	text-shadow: 2px 2px 4px white;
}

.main-title-2   {
	margin-top:-1px;
	font-size: 10rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: black;
	text-align: center;
	text-shadow: 2px 2px 4px white;
}

.center-case {
	position: absolute; 
	margin-top: 32rem; 
	left:0; 
	right:0;
	margin-left: auto;
	margin-right: auto;
}

.horil {
	width: 680px;
}

.horil ul {
    list-style-type: none;
    margin: 0;
}
.horil li {
	display: inline;
	margin-right: 10px;
    padding: 20px;
    padding-top: 30px;
    background-color: #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.horil li a {
	font-size: 2.5rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: white;
	text-align: center;
	text-decoration: none;
}

.horil li:hover {
    background-color: #c0c0c0;
}

/* 04. Header & Backgrounds */
.nav {
	text-align: center; 
	position: fixed;
	top: 0;
	z-index: 10;
	display: inline;
	width: 100%;
}

.nav a {
	font-size: 3.5rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: white;
	text-shadow: 4px 4px 8px #33334d;
	text-decoration: none;
}

.bg-1 {
	height: auto;
	width: auto;
	background-color: white;
	margin: 0 auto;
}

/* 05. Paddings */
.pd-h{
	width: 100%;
	min-width: 500px;
	height: 200px;
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
	padding-top: 2rem; 
	padding-bottom: 1rem;
	text-align: center;
}

.box-1 {
	margin-left: 5.5rem;
	margin-top: 4.5rem;
	padding-top: 3rem;
	height: 6.5rem;
	width: 30rem; 
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 5px black;
	transform: skew(15deg);
}

.pd-end {
	position: absolute;
	width: 100%;
	min-width: 500px;
	height: 50px;
	background-color: #000000; 
	padding-top: 1px;
}

.pd-end h1{
	font-size: 1.2rem;
	color: white; 
	position: absolute; 
	right: 12px; 
	bottom: 2px;
}

/* Title shapes */
.shape-font{
	padding-top: 6px;
	font-size: 2rem; 
	color: #FFFFFF; 
	text-align: center; 
	text-transform: uppercase;
}

@media only screen and (min-width:501px){
.shape-t {
	position: relative;
	width: 20em; 
	height: 4em;
	background-color: #000000;
	margin: 0px;
	z-index: 9;
}

.shape-t:after {
	content: "";
	position: absolute;
	border-left: 10em solid transparent;
	border-right: 10em solid transparent;
}

.shape-t:after {
	left: 0;
	top: 100%;
	border-top: 25px solid #000000;
}
{display: none;}
}

/* Title shapes - small version */
@media only screen and (max-width:501px){
.hexagon {
  top: -7.5em;
  left: 0em;
  position: relative;
  width: 20em; 
  height: 5em;
  background-color: #000000;
  margin: 0px;
  z-index: 9;
}
{display: none;}
}

/* 06. 'About me' format */
#c1 img {
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	float: left; 
	margin: 1rem 2rem 0 0; 
}

#c1 span{
	text-align: right;
}

#c1 fsize {
	font-size: 2rem;
	line-height: 110%;
	letter-spacing: .25rem;
	color: #808080;
}

#c1 key {
	color: #000000;
}

/* 07. 'My purpose' format */
#c2 p {
	font-size: 2.5rem;
	line-height: 120%;
	letter-spacing: 0.2rem;
	color: black;
	text-align: left;
	text-shadow: 2px 2px 2px #808080;
	text-decoration: none;
}

/* 08. 'Contact me' format */
#c3 a {
	font-size: 4rem;
	line-height: 100%;
	letter-spacing: 0.2rem;
	color: black;
	text-align: center;
	text-shadow: 2px 2px 2px #808080;
	text-decoration: none;
}
