/* Song. Main styles. 
 * 12/2/2017
 * ============================================
 * 01. Fonts
 * 02. Base styles
 * 03. Section styles & List
 * 04. Header & Backgrounds
 * 05. Paddings
 * 06. 'About me' format
 * 07. 'My purpose' format
 * 08. 'Contact me' format
 * ============================================
 */

/* 01. Fonts */
@import url("fonts.css");

.riffic   {
	font-family: "riffic-bold", sans-serif;

}

.acme   {
	font-family: "acme-regular", sans-serif;
}

.nexa   {
	font-family: "nexa-black", sans-serif;
}

/* 02. Base styles */
html {
	font-size: 10px;
}

html, body {
	height: 100%;
}

/* 03. Section styles & List */

.main-title-1   {
	font-size: 3rem;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFA500;
	text-align: center;
	text-shadow: 2px 2px 4px white;
}

.main-title-2   {
	font-size: 10rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: black;
	text-align: center;
	text-shadow: 2px 2px 4px white;
}

.horil {
	position: absolute;
}

.horil ul {
    list-style-type: none;
    min-width: 1300px;
}
.horil li {
	margin-left: 22rem;
	display: inline;
    padding: 20px;
    padding-top: 30px;
    background-color: #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.horil li a {
	font-size: 2.5rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: white;
	text-align: center;
	text-decoration: none;
}

.horil li:hover {
    background-color: #c0c0c0;
}

/* 04. Header & Backgrounds */
.nav {
	text-align: center; 
	position: fixed;
	top: 0;
	z-index: 10;
	display: inline;
	width: 100%;
}

.nav a {
	font-size: 3.5rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: white;
	text-shadow: 4px 4px 8px #33334d;
	text-decoration: none;
}

.bg-1 {
	height: auto;
	width: auto;
	background-color: white;
	margin: 0 auto;
}

/* 05. Paddings */
.pd-h{
	width: 100%;
	min-width: 500px;
	height: 200px;
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
	padding-top: 2rem; 
	padding-bottom: 1rem;
	text-align: center;
}

.box-1 {
	margin-left: 5.5rem;
	margin-top: 4.5rem;
	padding-top: 3rem;
	height: 6.5rem;
	width: 30rem; 
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 5px black;
	transform: skew(15deg);
}
.overlay {
	position: absolute;
	margin-top: 200px;
	margin-bottom: 200px;
	left: 0;
	width: 100%;
	min-width: 500px;
	height: 1080px;
	background: #111111;
	opacity: .65;
	z-index: -1;
}

.pd-1 {
	position: absolute;
	width: 100%;
	min-width: 500px;
	height: 1000px;
	background-color: white; 
	padding-top: 15rem;
	padding-bottom: 15rem;
	text-align: center;
}

.pd-2 {
	position: absolute;
	width: 100%;
	min-width: 500px;
	height: 800px;
	background-color: #003D79; 
	padding-top: 15rem;
	padding-bottom: 15rem;
	text-align: center;
}

.pd-3 {
	position: absolute;
	width: 100%;
	min-width: 500px;
	background-color: #9999CC; 
	padding-top: 15rem;
	padding-bottom: 15rem;
	text-align: center;
}

.pd-end {
	position: absolute;
	width: 100%;
	min-width: 500px;
	height: 49px;
	background-color: #000000; 
	padding-top: 1px;
	text-align: center;
}

.pd-end h1{
	
}

/* Title shapes */
.shape-font{
	padding-top: 6px;
	font-size: 2rem; 
	color: #FFFFFF; 
	text-align: center; 
	text-transform: uppercase;
}

@media only screen and (min-width:501px){
.shape-t {
	position: relative;
	width: 20em; 
	height: 4em;
	background-color: #000000;
	margin: 0px;
	z-index: 9;
}

.shape-t:after {
	content: "";
	position: absolute;
	border-left: 10em solid transparent;
	border-right: 10em solid transparent;
}

.shape-t:after {
	left: 0;
	top: 100%;
	border-top: 25px solid #000000;
}
{display: none;}
}

/* Title shapes - small version */
@media only screen and (max-width:501px){
.hexagon {
  top: -7.5em;
  left: 0em;
  position: relative;
  width: 20em; 
  height: 5em;
  background-color: #000000;
  margin: 0px;
  z-index: 9;
}
{display: none;}
}

/* 06. 'About me' format */
.about-me {
	width: 30%;
	display: inline-block;
	text-align: left;
}


.about-me img {
	height: 11rem;
	width: 11rem;
	border-radius: 50%;
	float: left; 
	margin: 2rem 35px 0px 0px; 
	/*
	-webkit-shape-margin: .1rem;
	-moz-shape-margin: .1rem;
	-ms-shape-margin: .1rem;
	-o-shape-margin: .1rem;
	shape-margin: .1rem;
	-webkit-shape-outside: circle(50%);
	-moz-shape-outside: circle(50%);
	-ms-shape-outside: circle(50%);
	-o-shape-outside: circle(50%);
	shape-outside: circle(50%);
	*/
}

.about-me span{
	text-align: left;
}

.about-me fsize {
	font-size: 2rem;
	line-height: 110%;
	letter-spacing: .2rem;
	color: #808080;
}

.about-me key {
	color: #000000;
}

/* 07. 'My purpose' format */
.my-pur {
	width: 50%;
	display: inline-block;
	text-align: left;
}

.my-pur p {
	font-size: 3rem;
	line-height: 110%;
	letter-spacing: .2rem;
	color: white;
}

/* 08. 'Contact me' format */
.my-pur {
	width: 50%;
	display: inline-block;
	text-align: left;
}

.my-pur p {
	font-size: 3rem;
	line-height: 110%;
	letter-spacing: .2rem;
	color: white;
}
